*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    color: black;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
}

span {
    color: #2196F3;
}

.nav {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
}

.nav:hover {
    color: #2196F3;
}

.kontakty, .mailto {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #757575;
}

.kontakty:hover {
    color: #2196F3;
}

.mailto:hover {
    color: #2196F3;
}

.item {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
}

.button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
}

.robota {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
}

.lorem {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}

.work {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.team {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.name {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.info {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;    
}

.adress {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    
}

.email2, .tel {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
}

/* ====================== header ======================== */

header {
    display: flex;
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 15px;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 95px;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    margin-right: 100px;
}

.kontakty1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
}

.mail-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    fill: #757575;
}

.tel-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    fill: #757575;
}

.mail-li:hover {
    fill: #2196F3;
}

.tel-li:hover {
    fill: #2196F3;
}

/* =====================Clients============= */

.clients-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}

.clients-list {
    display: flex;
}

.clients-item {
    background-color: #E5E5E5;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 30px;
}

.clients-icon {
    fill: #AFB1B8;
}

.clients-icon,
.clients-item:hover {
    fill: #2196F3;
    border-color: #2196F3;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
}

.future {
    display: flex;
}